<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produce sold on Credit</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bstrap/css/mdb.min.css">
    <link rel="stylesheet" href="/page.css">
</head>
<body>
  
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/img/kgl.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
            Karibu Groceries Limited
          </a>
        </div>
      </nav>

<div>
    <div class="container-fluid">
        <div id="header_content">
     <h1>Goods sold on credit(Deffered payment)</h1>
            <p id="header_caption">Fill out correctly the fields</p>
        </div>
       <hr> 
    </div>

</div>

    <div class="container-fluid"></div>
    <form name="registration" onsubmit="">

        <div class="row">
        <div class="tableRow col">
            <label>Name of buyer</label>
            <input type="alphanumeric" name="nameofbuyer">
        </div>
        <div class="tableRow col">
            <label>National ID:</label>
            <input type="alphabets" name="nationalID">
        </div>
        </div>

        <div class="row">
                <div class="tableRow col">
                    <label>Location</label>
                    <input type="alphanumeric" name="location">
                </div>
                <div class="tableRow col">
                    <label>Contacts</label>
                    <input type="number">
                </div>
</div>

<div class="row">
<div class="tableRow col">
    <label>Amount due</label>
    <input type="number">
</div>
<div class = "tableRow col">
<label>Sales Agent</label>
<input type="alphanumeric">
</div>
</div>

<div class="row">
        <div class="tableRow col">
            <label>Due Date :</label>
            <input type="datetime-local" name="Date">
        </div>

        <div class="tableRow col">
            <label>Produce name</label>
            <input type="alphanumeric" name="nameofProduce">
        </div>
        </div>

        <div class="row">
        <div class="tableRow col">
            <label>Tonnage</label>
            <input type="numeric" name="tonnage">
        </div>

        <div class="tableRow col">
            <label>Date of dispatch</label>
            <input type="datetime-local" name="nameofthedealer">
        </div>
        </div>
<hr>
<div class="text-center p-3" style="background-color: #add8e6"> &copy; 2022 Copyright: Arinaitwe Sheila</div>



<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>